@font-face {
  font-family: "puvi-Medium";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Medium.ttf");
}

@font-face {
  font-family: "puvi-Regular";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Regular.ttf");
}

@font-face {
  font-family: "puvi-Light";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Light.ttf");
}

@font-face {
  font-family: "puvi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Bold.ttf");
}

@font-face {
  font-family: "puvi-Semi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Semibold.ttf");
}

* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

/* Title */
.blogs-page-title {
  font-size: 48px;
  margin-top: 100px;
  text-align: center;
}

/* Blog Box */
.blogs-main-box {
  margin-top: 27px;
  padding-bottom: 100px;
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.blogs-main-box a:hover {
  text-decoration: none;
}

.blogs-box {
  width: 409px;
  height: 435px;
  padding: 16px;
  border-radius: 25px;
  background-color: white;
}

.blog-image {
  width: 377px;
  height: 210px;
  border-radius: 25px;
}

.blog-image img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.blog-date {
  background: linear-gradient(105.75deg, #221769 -3.07%, #432dcf 61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog-title {
  font-size: 18px;
  margin-top: 4px;
  color: #010205;
  padding: 0px 10px;
  word-wrap: nowrap;
  margin-top: 22px;
}

.blog-content {
  font-size: 14px;
  margin-top: 11px;
  color: #878c91;
  padding: 0px 10px;
}

.blog-author-box {
  width: 100%;
  height: 56px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-author {
  font-size: 14px;
  color: #272727;
}

.blog-link {
  width: 56px;
  height: 56px;
}

.blog-link img {
  width: 100%;
  height: 100%;
}
