@font-face {
  font-family: "puvi-Medium";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Medium.ttf");
}

@font-face {
  font-family: "puvi-Regular";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Regular.ttf");
}

@font-face {
  font-family: "puvi-Light";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Light.ttf");
}

@font-face {
  font-family: "puvi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Bold.ttf");
}

@font-face {
  font-family: "puvi-Semi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Semibold.ttf");
}

* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

/* Header Box  */
.blog-details-header-box {
  width: 100%;
  min-height: 400px;
  margin-top: 24px;
  position: relative;
  align-content: center;
  /* display: flex; */
  background-color: #120d37;
}

.blog-details-header-text {
  max-width: 450px;
  font-size: 48px;
  color: white;
  margin-left: 90px;
  text-transform: capitalize;
}

.blog-details-header-img-box {
  width: 52%;
  max-width: 717px;
  height: 400px;
  /* margin-top: 20px; */
  /* z-index: 2; */
  position: absolute;
  top: 65px;
  right: 59px;
}

.blog-details-header-img-box img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.log-details-header-info-box {
  width: 480px;
  height: 28px;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 100px;
  font-family: "puvi-Medium";
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.log-details-header-info-box-1 {
  color: #272727;
  display: flex;
  gap: 7px;
  align-items: center;
}

.log-details-header-info-box-1 .blue {
  color: #2e1e8e;
}

.log-details-header-info-box-1 .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #272727;
}

.log-details-header-info-box-1 .date {
  font-size: 14px;
  font-family: "puvi-Regular";
}

.blog-details-content-box {
  max-width: 1235px;
  margin-top: 40px;
  padding: 0px !important;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid blue; */
}

.blog-details-text-content-box {
  max-width: 750px;
  margin-top: 42px;
  text-align: justify;
  /* border: 1px solid red; */
}

.blog-details-table-content-box {
  width: 411px;
  height: 541px;
  margin-top: 80px;
}

.blog-details-table {
  width: 411px;
  /* height: 446px; */
  border-radius: 20px;
  padding: 46px 37px;
  padding-bottom: 0px;
  background-color: white;
}

.blog-details-table-title {
  font-size: 20px;
  font-family: "puvi-Medium";
}

.blog-details-table-content-body {
  margin-top: 24px;
  padding-top: 27px;
  border-top: 1px solid #00000073;
}

.blog-details-table-content-body a {
  color: #000000;
}

.blog-details-table-content-body a:hover {
  color: #000000;
  text-decoration: none;
}

.blog-details-table-content {
  display: flex;
  gap: 20px;
  align-items: start;
}

.blog-details-line-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-details-line-box .line-dot {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #000000;
}

.blog-details-line-box .line {
  width: 1px;
  height: 70px;
  background-color: #000000;
}

.blog-details-table-footer {
  width: 100%;
  height: 34px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-details-table-footer-text {
  font-size: 16px;
  color: #000000;
  font-family: "puvi-Medium";
}

.blog-details-table-footer-img-box {
  display: flex;
  gap: 12px;
  align-items: center;
}

.blog-details-table-footer-img-box img {
  width: 34px;
  height: 34px;
}

.blog-details-text-content-sub-box {
  margin-bottom: 40px;
  padding: 0px 20px;
}

.blog-details-text-content-title {
  font-size: 20px;
  color: #000000;
  font-family: "puvi-Bold";
}

.blog-details-text-content {
  font-size: 16px;
  color: #000000;
}

.blog-details-text-content-1 {
  margin-top: 15px;
}

.blog-details-text-content-2 {
  margin-top: 25px;
}
