@font-face {
  font-family: "puvi-Medium";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Medium.ttf");
}

@font-face {
  font-family: "puvi-Regular";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Regular.ttf");
}

@font-face {
  font-family: "puvi-Light";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Light.ttf");
}

@font-face {
  font-family: "puvi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Bold.ttf");
}

@font-face {
  font-family: "puvi-Semi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Semibold.ttf");
}

* {
  margin: 0;
  padding: 0;
}



/* landpage-text */
.landpage-text {
  max-width: 830px;
  font-size: 64px;
  color: #000000;
  margin-top: 23px;
  text-align: center;
  font-family: "puvi-Bold";
}

/* sub-header-box */
.sub-header-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 62px;
}

.sub-header {
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 14px;
}

.sub-header a {
  width: 155px;
  height: 50px;
  font-size: 16px;
  color: #1f145d;
  align-content: center;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-family: "puvi-Bold";
  border: 1px solid #1f145d1f;
  background-color: #f8f6ff;
}

.sub-header a:hover {
  color: #1f145d;
  text-decoration: none;
}

.sub-header a:focus {
  color: #ffffff;
  background: linear-gradient(105.75deg, #221769 -3.07%, #432dcf 61%);
}

/* Contenbox */
.conten-main-box {
  width: 100vw;
  overflow: hidden;
  position: relative;
  padding-bottom: 116px;
}

.conten-main-box-circle {
  width: 680px;
  height: 680px;
  border-radius: 50%;
  position: absolute;
  bottom: -400px;
  left: -300px;
  background: #2b1e852e;
  filter: blur(200px);
  z-index: -1;
}

.contenbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 31px;
}

.contentbox-1 {
  margin-top: 52px;
}

.sub-contenbox {
  max-width: 1256px;
  width: 94%;
  /* height: 660px; */
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
}

.sub-contenbox-7{
  background-color: white;

}

.sub-contenbox .circule {
  width: 390px;
  height: 390px;
  border-radius: 50%;
  position: absolute;
  background: #2b1e853d;
  filter: blur(200px);
}

.sub-contenbox .circule1 {
  top: -90px;
  right: -150px;
  z-index: 0;
}

.sub-contenbox .circule2 {
  bottom: -150px;
  left: -150px;
  z-index: 0;
}

.contenbox-text-box {
  margin-top: 50px;
}

.contenbox-text-box .title {
  font-size: 36px;
  color: #000000;
  text-align: center;
  font-family: "puvi-Bold";
}

.contenbox-text-box .content {
  font-size: 20px;
  color: #5d5858;
  text-align: center;
  margin-top: 7px;
  font-family: "puvi-Regular";
}

.contenbox-1-text-box .content {
  max-width: 520px;
}

.contenbox-2-text-box .content {
  max-width: 524px;
}

.contenbox-3-text-box .content {
  max-width: 600px;
}

.contenbox-4-text-box .content {
  max-width: 600px;
}

.contenbox-5-text-box .content {
  max-width: 488px;
}

.contenbox-6-text-box .content {
  max-width: 500px;
}

.contenbox-7-text-box .content {
  max-width: 500px;
}


.content-img-box {
  max-width: 910px;
  width: 72.7%;
  height: 455px;
  margin-top: 39px;
  border-bottom: none;
  overflow: hidden;
  z-index: 1;
  border-radius: 12px 12px 0px 0px;
}

.content-img-box img {
  width: 100%;
  height: 100%;
}

.content5-img-box{
  display: flex;
  justify-content: center;
  align-items: end;
}

.content7-img-box{
  display: flex;
  justify-content: center;
  align-items: end;
}

.content7-img-box img{
  width: 70%;
  height: 100%;
}

/* Learn-More */
.learn-more-body {
  padding-bottom: 146px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.learn-more-body-circle {
  width: 680px;
  height: 680px;
  border-radius: 50%;
  position: absolute;
  background: #2b1e852e;
  filter: blur(200px);
  z-index: -1;
}

.learn-more-body-circle-1 {
  top: -300px;
  left: -300px;
}

.learn-more-body-circle-2 {
  bottom: -300px;
  right: -300px;
}

.learn-more-content {
  max-width: 800px;
  font-size: 64px;
  color: #000000;
  text-align: center;
  font-family: "puvi-Bold";
}

.learn-more-button-box {
  display: flex;
  gap: 13px;
}

.learn-more-button-box button {
  width: 155px;
  height: 50px;
  font-size: 18px;
  margin-top: 33px;
  border-radius: 29px;
  border: none;
}

.learn-more-button-box .learn-more-sign {
  color: #ffffff;
  background: linear-gradient(105.75deg, #221769 -3.07%, #432dcf 61%);
}

.learn-more-button-box .learn-more-talk {
  color: #000000;
  border: 1px solid #000000;
}

/* Phone Size Media-Queries   */
@media (min-width: 360px) and (max-width: 430px) {
  /* landpage-text */
  .landpage-text {
    font-size: 28px;
  }

  /* sub-header-box */
  .sub-header-box {
    margin-top: 30px;
    padding: 0px 20px;
  }

  .sub-header a {
    width: 130px;
    height: 40px;
    font-size: 12px;
  }

  /* Contenbox */
  .conten-main-box {
    padding-bottom: 40px;
  }

  .conten-main-box-circle {
    width: 200px;
    height: 200px;
    bottom: -100px;
    left: -100px;
  }

  .contentbox-1 {
    margin-top: 10px;
  }

  .sub-contenbox {
    max-width: 359px;
    width: 359px;
    height: 265px;
  }

  .sub-contenbox .circule {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    background: #2b1e853d;
  }

  .sub-contenbox .circule1 {
    top: -100px;
    right: -100px;
    z-index: 1;
  }

  .sub-contenbox .circule2 {
    bottom: -100px;
    left: -100px;
    z-index: 0;
  }

  .contenbox-text-box {
    margin-top: 20px;
  }

  .contenbox-text-box .title {
    font-size: 20px;
  }

  .contenbox-text-box .content {
    font-size: 14px;
    max-width: 300px;
  }

  .content-img-box {
    width: 260px;
    height: 145px;
    margin-top: 20px;
    border-bottom: none;
    overflow: hidden;
    z-index: 1;
    border-radius: 12px 12px 0px 0px;
  }

  .content-img-box img {
    width: 100%;
    height: 128px;
    object-fit: contain;

  }

  /* Learn-More */
  .learn-more-body {
    padding-bottom: 40px;
  }

  .learn-more-body-circle {
    width: 200px;
    height: 200px;
  }

  .learn-more-body-circle-1 {
    top: -150px;
    left: -150px;
  }

  .learn-more-body-circle-2 {
    bottom: -150px;
    right: -150px;
  }

  .learn-more-content {
    font-size: 24px;
    max-width: 320px;
  }

  .learn-more-button-box button {
    width: 100px;
    height: 40px;
    font-size: 12px;
    margin-top: 20px;
  }
}
