@font-face {
  font-family: "puvi-Medium";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Medium.ttf");
  /* src: url("Fonts/OpenType-TT/Zoho\ Puvi\ Medium.ttf"); */
}

@font-face {
  font-family: "puvi-Regular";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Regular.ttf");
}

@font-face {
  font-family: "puvi-Light";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Light.ttf");
}

@font-face {
  font-family: "puvi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Bold.ttf");
}

@font-face {
  font-family: "puvi-Semi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Semibold.ttf");
}

* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
  background-color: #ffffff;
  /* background-color: #142a19; */
}

nav {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-brand {
  width: 9.3%;
  height: 100%;
  font-size: 28px;
  color: #434ee1;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-family: "puvi-Regular";
  cursor: default;
}

.nav-links {
  width: 58.31%;
  height: 100%;
}

.nav-links-form-box {
  width: 58.31%;
  height: 100%;
  position: absolute;
  right: 67px;
  transform: scaleX(0);
  transition: 0.5s;
}

.nav-links-form {
  /* w-496,h-53 */
  width: 69.2%;
  height: 76%;
  position: absolute;
  right: 0px;
  top: 8px;
}

.nav-links-form input {
  /*w-496 , h-53 */
  width: 99.7%;
  height: 51px;
  border-radius: 8px;
  font-size: 16px;
  font-family: "puvi-Medium";
  text-indent: 14px;
  outline: none;
  border: 1px solid #9b9eae;
}

.nav-links-form button {
  padding: 12px 30px 12px 30px;
  background-color: #434ee1;
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.nav-links-form button div {
  font-size: 18px;
  color: #ffffff;
  font-family: "puvi-Semi-Bold";
}

.nav-links ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.all-links {
  /* h-80%; */
  font-size: 16px;
  font-weight: 400;
  font-family: "puvi-Regular";
}

.nav-item a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

.nav-btn-div button {
  /* width: 100%; */
  /* height: 45px; */
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 4px;
  font-family: "puvi-Regular";
  padding: 12px 30px 12px 30px;
  background-color: #434ee1;
}

.section1 {
  width: 100%;
  height: 83vh;
  display: flex;
  align-items: end;
  justify-content: center;
  background-size: cover;
  background-color: #f5f5ff;
  /* background-image: url("/Media/Gropug2.svg"); */
  /* background-image: url("/Media/frame2.svg"); */
  /* background-repeat: no-repeat; */
}
.sec1-content-box {
  /* w-90 h-445 */
  /* height: 59vh; */
  /* min-height: 445px; */
  width: 90.1%;
  height: 75.2vh;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.sec1-sub-content-box {
  width: 51.2%;
  height: 100%;
  display: flex;
  align-items: start;
}

.sec1-content {
  /* w629,-h349 */
  /* w629,-h377 */
  width: 100%;
  height: 63.7vh;
  margin-top: 11px;
}

.content-text1 {
  /* w-629,h-198 */
  /* min-width: 629px; */
  max-width: 100%;
  height: 33.5vh;
  font-size: 86px;
  font-weight: 700;
  color: #000000;
  font-family: "puvi-Bold";
}

.content-text2 {
  /* w-559,h-68 */
  width: 100%;
  width: 492px;
  height: 11.5vh;
  font-size: 30px;
  color: #38393e;
  margin-top: 20px;
  line-height: 34.41px;
  font-family: "puvi-Regular";
}

.content-text3 {
  /* w-496,h-53 */
  width: 78.7%;
  height: 9vh;
  margin-top: 38px;
  position: relative;
}

.content-text3 input {
  /*w-496 , h-53 */
  width: 99.7%;
  height: 51px;
  border-radius: 8px;
  font-size: 16px;
  font-family: "puvi-Medium";
  text-indent: 14px;
  outline: none;
  border: 1px solid #9b9eae;
}

.content-text3 button {
  padding: 12px 30px 12px 30px;
  background-color: #434ee1;
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.content-text3 button div {
  font-size: 18px;
  color: #ffffff;
  font-family: "puvi-Semi-Bold";
}

.sec1-content2-img {
  /* w-512,h-445 */
  width: 41.63%;
  height: 100%;
}

.sec1-content2-img img {
  width: 100%;
  height: 100%;
}

.section2 {
  width: 100%;
  height: 58.6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec2-content {
  width: 66%;
  height: 8.8vh;
  font-size: 47px;
  margin-top: 40px;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-family: "puvi-Medium";
  text-align: center;
}

.sec2-content-box {
  /* w-1233 */
  width: 90.3%;
  /* width: 1233px; */
  height: 16vh;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sec2-box {
  /* w-381 */
  width: 31%;
  min-width: 381px;
  height: 100%;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.4) 0px 0px 1px 0px;
}

.sec2-sub-box {
  width: 90%;
  height: 46px;
  display: flex;
}

.sec2-box-icon {
  display: flex;
  align-items: center;
}

.sec2-box-text {
  font-size: 20px;
  margin-left: 18px;
  line-height: 22.94px;
  font-family: "puvi-Medium";
  font-weight: 500;
}

.sec2-box2 .sec2-sub-box {
  width: 91%;
}

.sec2-box-text2 {
  margin-top: 3px;
  margin-left: 15px;
  font-size: 20px;
}

.sec2-box3 .sec2-sub-box {
  width: 91%;
}

.sec2-box-text3 {
  margin-top: 2px;
  margin-left: 13px;
}

.section3 {
  /* h-632 */
  width: 100%;
  height: 122vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f8ff;
}

.sec3-title {
  /* h-55 */
  width: 72.5%;
  height: 9.3vh;
  margin-top: 54px;
  font-size: 48px;
  color: #000000;
  font-family: "puvi-Semi-Bold";
  /* background-color: #434ee1; */
}

.sec3-content1 {
  width: 82.9%;
  height: 20.1vh;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sec3-con-box1 {
  /* w-290px*/
  min-width: 290px;
  width: 25.6%;
  height: 100%;
  max-height: 119px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec3-con-box2 {
  /*w-329*/
  min-width: 329px;
  width: 29.01%;
  height: 100%;
  max-height: 119px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec3-con-box3 {
  /*w-278*/
  min-width: 278px;
  width: 24.51%;
  height: 100%;
  max-height: 119px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec3-con1-icon {
  /*w-100%*/
  width: 12%;
  height: 6vh;
}

.sec3-con-text1 {
  /*w-268,h-32*/
  width: 92.3%;
  height: 5.4vh;
  margin-top: 6px;
  font-size: 28px;
  color: #000000;
  font-weight: 500;
  font-family: "puvi-Medium";
}

.sec3-con-text2 {
  /* w-290,h-36*/
  width: 100%;
  height: 6vh;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  line-height: 18.35px;
  font-family: "puvi-Regular";
}

.sec3-con2-text1 {
  /* w-247,h-32*/
  width: 75.1%;
  height: 6vh;
  margin-top: 1px;
}

.sec3-con3-text1 {
  width: 100%;
  margin-top: 1px;
}

.sec3-content2 {
  width: 100%;
  height: 20.1vh;
  /* height: 40vh; */
  margin-top: 102px;
  display: flex;
  flex-wrap: wrap;
}

.sec3-con2-box1 {
  /* w-384*/
  /* width: 28.1%; */
  max-width: 384px;
  height: 100%;
  min-height: 119px;
  margin-left: 258px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec3-con2-box2 {
  /*w-353*/
  width: 25.81%;
  min-width: 353px;
  max-height: 119px;
  height: 100%;
  max-height: 119px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec3-content2-box-text1 {
  width: 100%;
  height: 6vh;
  margin-top: 1px;
  font-size: 28px;
  color: #000000;
  font-weight: 500;
  font-family: "puvi-Medium";
}

.sec3-content2-box-text2 {
  /* w-287,h-36*/
  width: 74.7%;
  height: 6vh;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: 18.35px;
  font-family: "puvi-Regular";
}

.sec3-content2-box2-text1 {
  /* w-258*/
  width: 73.1%;
  height: 5.4vh;
}

.sec3-content2-box2-text2 {
  width: 100%;
  height: 6vh;
}

.section4 {
  /* h-2285 */
  width: 100%;
  height: 386vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec4-heading-box {
  width: 100%;
  height: 9.3vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.sec4-heading {
  /* width: 21.4%; */
  max-width: 35%;
  min-width: 292px;
  height: 100%;
  font-size: 48px;
  font-family: "puvi-Semi-Bold";
}

.sec4-content-main-box {
  /* w-1232,h-1920*/
  /* w-1056,h-2002*/
  /* w-1042,h-1960*/
  width: 76.3%;
  height: 85.78%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec4-con-box {
  /* w-1042,h-328 */
  width: 100%;
  height: 55.4vh;
}

.sec4-con-sub-box {
  /* width: 90%; */
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sec4-con-sub-box2 {
  flex-direction: row-reverse;
}

.sec4-con-sub-box4 {
  flex-direction: row-reverse;
}

.sec4-con-box-img {
  /* w-508,h-328*/
  /* w-492,h-328*/
  min-width: 492px;
  max-width: 47.2%;
  height: 328px;
  background-size: cover;
}

.sec4-con-box-img img {
  width: 100%;
  height: 100%;
}

.sec4-con-box-text {
  /* w-508 */
  min-width: 508px;
  max-width: 48.7%;
  height: 84px;
  font-size: 28px;
  font-family: "puvi-Semi-Bold";
}

.sec4-con-box2-text {
  /* h-105 */
  height: 17.8vh;
}

.sec4-con-box4-text {
  /* h-102 */
  height: 17.2vh;
}

.sec4-con-box-text-2 {
  width: 100%;
  height: 6vh;
  font-size: 16px;
  margin-top: 16px;
  color: #38393e;
  font-family: "puvi-Regular";
}

.sec4-con-box5-text {
  /* w-508,h-132 */
  /* width: 100%; */
  height: 22.3vh;
}

.sec4-con-box2-text-2 {
  /* h-54 */
  height: 9.2vh;
}

.sec4-con-box4-text-2 {
  /* h-54 */
  height: 9.2vh;
}

.sec4-con-box5-text-1 {
  /* h-64 */
  height: 10.8vh;
}

.sec4-con-box5-text-2 {
  /* h-54 */
  height: 9.1vh;
}

.section5 {
  /* h-1403 */
  width: 100%;
  height: 237vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9fe;
}

.sec5-heading-box {
  width: 100%;
  height: 9.3vh;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.sec5-heading {
  min-width: 216px;
  min-height: 55px;
  max-width: 15.8%;
  height: 100%;
  font-size: 48px;
  color: #000000;
  font-family: "puvi-Semi-Bold";
}

.sec5-content1-main-box {
  /* w-100%,h-234 */
  width: 100%;
  height: 39.6vh;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.sec5-content1-sub-box {
  width: 94.9%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sec5-con-box {
  /* w-308,h-234 */
  min-width: 308px;
  max-width: 23.75%;
  min-height: 234px;
  max-height: 100%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec5-con-icon {
  width: 13.5%;
  height: 7.1vh;
  margin-top: 38px;
}

.sec5-con-text1 {
  /* h-28 */
  height: 4.8vh;
  margin-top: 24px;
  font-size: 24px;
  font-family: "puvi-Bold";
}

.sec5-con-text2 {
  /* w-264,h-54 */
  width: 85.9%;
  height: 10vh;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  line-height: 18.35px;
  font-family: "puvi-Regular";
}

.sec5-con-box1 {
  background-color: #e5f2e0;
}

.sec5-con1-text1 {
  /*w-176 h-28 */
  width: 57.9%;
  height: 4.8vh;
  margin-top: 24px;
  font-size: 24px;
  font-family: "puvi-Bold";
}
.sec5-con1-text2 {
  color: #142a19;
}

.sec5-con-box2 {
  background-color: #f5eaf8;
}

.sec5-con2-text1 {
  /*w-188 h-28 */
  width: 61%;
  height: 4.8vh;
  margin-top: 24px;
  font-size: 24px;
  font-family: "puvi-Bold";
}

.sec5-con2-text2 {
  color: #450f3a;
}

.sec5-con-box3 {
  background-color: #deedf9;
}

.sec5-con3-text1 {
  /*w-191 h-28 */
  width: 62.1%;
  height: 4.8vh;
  margin-top: 24px;
  font-size: 24px;
  font-family: "puvi-Bold";
}

.sec5-con3-text2 {
  color: #1f357f;
}

.sec5-con-box4 {
  background-color: #eaebfa;
}

.sec5-con4-text1 {
  /*w-263 h-28 */
  width: 85.5%;
  height: 4.8vh;
  margin-top: 24px;
  font-size: 24px;
  font-family: "puvi-Bold";
}

.sec5-con4-text2 {
  color: #3d2e7c;
}

.sec5-content2-main-box {
  /* w-100%,h-388 */
  width: 94.9%;
  height: 65.5vh;
  margin-top: 100px;
  border-radius: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #51316a;
}

.sec5-content2-heading-box {
  /*w-599 h-55 */
  width: 100%;
  height: 9.3vh;
  margin-top: 74px;
  display: flex;
  justify-content: center;
}

.sec5-content2-heading {
  width: 47.3%;
  height: 100%;
  font-size: 48px;
  color: #ffffff;
  font-family: "puvi-Semi-Bold";
}

.sec5-content2-sub-box {
  /* w-1148,h-103 */
  width: 88.55%;
  height: 17.4vh;
  margin-top: 82px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #142a19; */
  justify-content: space-between;
}

.sec5-con2-box {
  /* w-286,h-103 */
  min-width: 286px;
  min-height: 103px;
  max-width: 24.9%;
  max-height: 100%;
}

.sec5-con2-box-icon {
  /* width: 62.8%; */
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec5-con2-box-icon span {
  font-size: 30px;
  color: #ffffff;
  line-height: 34.41px;
  font-family: "puvi-Semi-Bold";
}

.sec5-con2-box1-icon {
  width: 62.8%;
}

.sec5-con2-box-text {
  /* w-286 h-42 */
  width: 100%;
  height: 7.1vh;
  font-size: 18px;
  margin-top: 25px;
  line-height: 20.65px;
  color: #ffffff;
  font-family: "puvi-Regular";
}

.sec5-con2-box1-icon span {
  /* w-131,h-36 */
  width: 73%;
}

.sec5-con2-box2-icon {
  /* w-157 */
  width: 55.1%;
}

.sec5-con2-box2-icon span {
  /* w-109,h-36 */
  width: 69.5%;
}

.sec5-con2-box3-icon {
  /* w-183 */
  width: 57.4%;
}

.sec5-con2-box3-icon span {
  /* w-115,h-36 */
  width: 70.7%;
}

.sec5-content3-main-box {
  /* w-100%,h-388 */
  width: 100%;
  height: 65.4vh;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.sec5-content3-sub-box {
  /* w-1296,h-387 */
  width: 94.9%;
  height: 100%;
  border-radius: 65px;
  display: flex;
  background-color: #422c78;
}

.sec5-con3-box1 {
  /* w-845 h387*/
  width: 65.2%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 65px 0px 0px 65px;
}

.sec5-con3-box1-content-box {
  /* w-558 h-245 */
  /* min-width: 558px; */
  width: 66%;
  height: 41.4vh;
  margin-left: 8.9%;
}

.sec5-con3-box1-content1 {
  /* w-558,h-96 */
  width: 100%;
  height: 16.3vh;
  font-size: 42px;
  color: #ffffff;
  font-family: "puvi-Semi-Bold";
}

.sec5-con3-box1-content2 {
  /* w-430,h-46 */
  width: 77%;
  height: 7.8vh;
  font-size: 20px;
  margin-top: 24px;
  color: #ffffff;
  line-height: 22.94px;
  font-family: "puvi-Regular";
}

.sec5-con3-box1-content3 {
  width: 78.7%;
  height: 9vh;
  margin-top: 30px;
  position: relative;
}

.sec5-con3-box1-content3 input {
  /*w-496 , h-53 */
  width: 99.7%;
  height: 51px;
  border-radius: 8px;
  font-size: 16px;
  font-family: "puvi-Medium";
  text-indent: 14px;
  color: #ffffff;
  outline: none;
  background-color: #422c78;
  border: 1px solid #ffffff;
}

.sec5-con3-box1-content3 input::placeholder {
  color: #dbdbdb;
}

.sec5-con3-box1-content3 button {
  padding: 12px 30px 12px 30px;
  background-color: #434ee1;
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.sec5-con3-box1-content3 button div {
  font-size: 18px;
  color: #ffffff;
  font-family: "puvi-Semi-Bold";
}

.sec5-con3-box2 {
  /* w-452 h-387*/
  min-width: 452px;
  max-width: 34.8%;
  height: 100%;
  border-radius: 0px 65px 65px 0px;
}

.sec5-con3-box2 img {
  width: 100%;
  height: 100%;
}

.footer {
  /* h-197 */
  width: 100%;
  height: 33.3vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.footer-content-box {
  /* h-129 */
  width: 90.2%;
  height: 65.2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-content1-text {
  color: #101010;
  font-size: 20px;
  font-family: "puvi-Semi-Bold";
}

.footer-content-text {
  color: #101010;
  font-size: 16px;
  font-family: "puvi-Regular";
}

.footer-content1 {
  /* w-386 h-129 */
  min-width: 386px;
  max-width: 31.3%;
  min-height: 129px;
  max-height: 100%;
}

.footer-content1-text1 {
  /* w-263,h-26 */
  width: 68.2%;
  height: 4.4vh;
}

.footer-content1-text2 {
  margin-top: 18px;
}

.footer-content1-text3 {
  /* w-287,h-35 */
  width: 98%;
  height: 5.9vh;
  margin-top: 16px;
}

.footer-content1-text3 form {
  width: 100%;
  height: 100%;
  display: flex;
}

.footer-content1-text3 form input {
  width: 70.55%;
  height: 93%;
  outline: none;
  text-indent: 14px;
  border: 1px solid #9095a1;
  border-radius: 4px 0px 0px 4px;
}

input[type="text"]::placeholder {
  text-indent: 12px;
}

.footer-content1-text3 form button {
  /* w-114,h-37 */
  width: 113px;
  height: 99%;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
  background-color: #434ee1;
}

.footer-content1-text3 form button div {
  font-size: 14px;
  font-family: "puvi-Regular";
}

.footer-content2 {
  /* w-570 h-129 */
  min-width: 570px;
  min-height: 129px;
  max-width: 46.3%;
  max-height: 100%;
}

.footer-content2-text2 {
  /* w-105,h-26 */
  width: 18.4%;
  height: 4.4vh;
}

.footer-contact-box {
  width: 100%;
  height: 68.5%;
  margin-top: 18px;
  color: #101010;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-contact-box span {
  font-size: 16px;
  margin-left: 4px;
  line-height: 18.35px;
  font-family: "puvi-Regular";
}

.contact-part1 {
  /* w-173 */
  width: 30.3%;
  height: 100%;
}

.contact-text1 {
  display: flex;
  align-items: center;
}

.contact-text2 {
  margin-top: 14px;
  display: flex;
  align-items: center;
}

.contact-part2 {
  /* w-351 */
  width: 61.6%;
  height: 100%;
}

.contact-text3 {
  display: flex;
  align-items: start;
}

.contact-text4 {
  margin-top: 14px;
  display: flex;
  align-items: start;
}

.copyrights {
  /* h-27 */
  width: 100%;
  height: 4.5vh;
  margin-top: 33px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ababab;
}

.sub-copyrights {
  width: 90.1%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.copyrights-text {
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #101010;
  font-weight: 500;
  font-family: "puvi-Medium";
}

#background-div {
  display: none;
  width: 100%;
  width: 100%;
  /* height: 930vh; */
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: #252526cc;
  z-index: 2;
}

#from-close-div {
  display: none;
  width: 100%;
  /* height: 100%; */
  height: 950vh;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: #3939b600;
  z-index: 1;
}

/* #myForm {
  w-514,h-392
  width: 37.6%;
  height: 66.3vh;
  border-radius: 24px;
  position: absolute;
  top: 110px;
  left: 421px;
  z-index: 2;
  transform: scale(0);
  transition: 0.3s;
  background-color: #ffffff;
}

form .heading-box {
  display: flex;
}

.heading-box span {
  font-size: 32px;
  margin-top: 27px;
  margin-left: 139px;
  font-family: "puvi-Semi-Bold";
}

.heading-box .cancel {
  height: 24px;
  cursor: pointer;
  margin-top: 34px;
  margin-left: 89px;
}

.input-box {
  margin-top: 38px;
}

.email-box {
  margin-top: 28px;
}

form label {
  font-size: 16px;
  margin-left: 26px;
  font-family: "puvi-Medium";
}

#myForm input {
  w-462 , h-44
  width: 89.5%;
  height: 7.1vh;
  margin-left: 26px;
  margin-top: 8px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "puvi-Medium";
  text-indent: 16px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

#form-sumbit-btn {
  color: #ffffff;
  font-size: 24px;
  margin-top: 42px;
  margin-left: 176px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  font-family: "puvi-Semi-Bold";
  background-color: #ad5cca;
  padding: 12px 40px 12px 40px;
} */

#successMessage {
  /* w-702,h-142 */
  width: 51.4%;
  height: 24vh;
  border-radius: 24px;
  position: absolute;
  top: 200px;
  left: 332px;
  z-index: 3;
  background-image: url("../media/thanke-bg.png");
  background-size: cover;
  /* display: none; */
  transform: scale(0);
  transition: 0.4s;
}

#successMessage p {
  /* w-519, h-74*/
  width: 519px;
  height: 74px;
  font-size: 32px;
  text-align: center;
  margin-top: 32px;
  margin-left: 92px;
  font-family: "puvi-Semi-Bold";
}

/* Media query for tablet-sized screens */
@media (min-width: 576px) and (max-width: 900px) {
  #successMessage {
    width: 80%;
    /* background-color: white; */
    background-image: url("../media/thanke-bg.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10%;
  }

  #successMessage p {
    width: 400px;
    font-size: 24px;
    margin-top: 0;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
  }

  .section1 {
    /* background-color: violet; */
    align-items: start;
    min-height: 70vh;
    max-height: 90vh;
  }

  .nav-links-form button {
    padding: 14px 6px;
    top: 5px;
  }

  .nav-links-form button div {
    font-size: 13px;
  }

  .nav-links-form input::placeholder {
    font-size: 14px;
  }

  .sec1-content2-img {
    display: none;
  }

  .sec1-content-box {
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    min-height: 60%;
    max-height: 100%;
  }

  .sec1-sub-content-box {
    width: 100%;
    height: 100%;
  }

  .content-text1 {
    height: auto;
  }

  .content-text2 {
    height: auto;
  }

  .section2 {
    height: 93vh;
  }

  .sec2-content {
    /* width: 100%; */
    height: 26vh;
  }

  .sec2-content-box {
    /* width: 100%; */
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .sec2-box {
    /* w-381 */
    margin-top: 10px;
  }

  .section3 {
    height: auto;
    padding-bottom: 50px;
    /* height: 165vh; */
  }

  .sec3-title {
    height: 27vh;
    text-align: center;
  }

  .sec3-content1 {
    width: 82.9%;
    height: 70vh;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .sec3-con-box1 {
    /* w-290px*/
    margin-top: 15px;
    max-height: 119px;
  }

  .sec3-con-box2 {
    /*w-329*/
    margin-top: 15px;
    max-height: 119px;
  }

  .sec3-con-box3 {
    /*w-278*/
    max-height: 119px;
    margin-top: 15px;
  }

  .sec3-content2 {
    /* height: 40vh; */
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  .sec3-con2-box1 {
    /* w-384*/
    min-width: 384px;
    max-height: 119px;
    margin-top: 20px;
    margin-left: 0px;
  }

  .sec3-con2-box2 {
    /*w-353*/
    min-width: 353px;
    max-height: 119px;
    margin-left: 0px;
    margin-top: 20px;
  }

  .section4 {
    height: 470vh;
  }

  .sec4-heading-box {
    width: 100%;
    height: 55px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sec4-heading {
    max-width: 35%;
    min-width: 292px;
    height: 55px;
    font-size: 48px;
    font-family: "puvi-Semi-Bold";
  }

  .sec4-content-main-box {
  }

  .sec4-con-sub-box {
    width: 100%;
    justify-content: center;
  }

  .sec4-con-box {
    margin-top: 15px;
    min-height: 500px;
  }

  .sec4-con-sub-box2 {
    flex-direction: row;
  }

  .sec4-con-sub-box4 {
    flex-direction: row;
  }

  .section5 {
    height: auto;
  }

  .sec5-content1-main-box {
    height: auto;
    margin-top: 30px;
  }

  .sec5-content1-sub-box {
    justify-content: space-around;
  }

  .sec5-con-box {
    margin-top: 20px;
  }

  .sec5-content2-heading-box {
    margin-top: 20px;
    height: auto;
  }

  .sec5-content2-heading {
    width: 90%;
    /* height: 18vh; */
    height: auto;
    text-align: center;
  }

  .sec5-content2-main-box {
    /* min-height: 70vh; */
    height: auto;
    background-color: #51316a;
    padding-bottom: 50px;
  }

  .sec5-content2-sub-box {
    height: auto;
    margin-top: 20px;
    justify-content: space-around;
  }

  .sec5-content2-sub-box {
    justify-content: space-around;
  }

  .sec5-con2-box {
    margin-top: 30px;
  }

  .sec5-con2-box1 {
    margin-top: 25px;
  }

  .sec5-content3-sub-box {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sec5-con3-box1 {
    width: 90%;
    height: 95%;
    border-radius: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sec5-con3-box1-content-box {
    margin-left: 0;
    width: 95%;
  }

  .sec5-con3-box1-content1 {
    height: auto;
    width: 100%;
  }

  .sec5-con3-box2 {
    display: none;
  }

  .footer {
    /* height: 52vh; */
    height: auto;
  }

  .footer-content-box {
    height: auto;
    margin-top: 30px;
    justify-content: start;
  }

  .footer-content2 {
    min-width: 100%;
    margin-top: 20px;
  }
}
