@font-face {
  font-family: "puvi-Medium";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Medium.ttf");
}

@font-face {
  font-family: "puvi-Regular";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Regular.ttf");
}

@font-face {
  font-family: "puvi-Light";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Light.ttf");
}

@font-face {
  font-family: "puvi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Bold.ttf");
}

@font-face {
  font-family: "puvi-Semi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Semibold.ttf");
}

* {
  margin: 0;
  padding: 0;
}


/* Header Style */
header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar .navbar-brand {
  display: flex;
  gap: 4px;
  align-items: center;
}

.navbar .navbar-brand div {
  color: #434ee1 !important;
  font-size: 28px;
  font-weight: bold;
  font-family: "puvi-Regular";
}

.navbar-nav .nav-link {
  font-size: 16px;
  font-family: "puvi-Regular";
  color: #000000 !important;
}

.navbar-nav li {
  margin-left: 36px;
}

/* Privacy Style Start */
section {
  padding-bottom: 20px;
}

.privacy-policy-heading {
  font-size: 30px;
  margin: 30px;
  text-align: center;
  font-family: "puvi-bold";
}

.policy-content-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.policy-last-update {
  text-align: right;
}

.policy-title1 {
  font-size: 28px;
  font-family: "puvi-Semi-Bold";
}

.policy-title2 {
  font-size: 26px;
  font-family: "puvi-Semi-Bold";
}

.policy-title3 {
  font-size: 24px;
  font-family: "puvi-Semi-Bold";
}

.policy-content1 {
  text-align: justify;
  font-size: 16px;
  font-family: "puvi-Regular";
}
.policy-content2 {
  font-size: 16px;
  font-family: "puvi-Regular";
  padding-left: 20px;
}

.privacymail {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.9);
}

.privacymail:hover {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: underline;
}

.privacy-to-terms-link-tag {
  text-decoration: underline;
}

/* Menu Bar gap align */
@media (min-width: 480px) and (max-width: 991px) {
  .navbar-nav li {
    margin-left: 0px;
  }
}

