@font-face {
  font-family: "puvi-Medium";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Medium.ttf");
}

@font-face {
  font-family: "puvi-Regular";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Regular.ttf");
}

@font-face {
  font-family: "puvi-Light";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Light.ttf");
}

@font-face {
  font-family: "puvi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Bold.ttf");
}

@font-face {
  font-family: "puvi-Semi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Semibold.ttf");
}

* {
  margin: 0;
  padding: 0;
}

/* Title page */
.resources-page-title-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 461px;
  background-color: #120d37;
}

.resources-page-title-content-box {
  align-content: center;
}

.resources-page-title-content-1 {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  font-family: "puvi-semi-bold";
}

.resources-page-btn-box {
  margin-top: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resources-page-btn {
  height: 50px;
  border: none;
  font-size: 18px;
  color: #ffffff;
  padding: 14px 32px;
  border-radius: 29px;
  background: linear-gradient(105.75deg, #221769 -3.07%, #432dcf 61%);
}

/* Resources-Page-Header */
.resources-page-header-body {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  background-color: #d8d5e8;
}

.resources-page-header-sub-body {
  /* width: 927px; */
  height: 100%;
  display: flex;
  gap: 90px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.resources-page-header-a-tag {
  height: 70px;
  color: #2b1d84;
  font-family: "puvi-medium";
  align-content: center;
}

.resources-page-header-a-tag:hover {
  color: #2b1d84;
  text-decoration: none;
}

/* Resources Page Content */
.resources-page-content-main-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #f0f0f0;
}

.resources-page-content-sub-box {
  max-width: 931px;
  padding-bottom: 30px;
}


.resources-page-title {
  font-size: 40px;
  font-family: "puvi-semi-bold";
  background: linear-gradient(105.75deg, #221769 -3.07%, #432dcf 61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 60px;
}

.resources-page-sub-title {
  font-size: 22px;
  font-family: "puvi-medium";
  background: linear-gradient(105.75deg, #221769 -3.07%, #432dcf 61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 30px;
}

.resources-page-sub-title-2{
  font-size: 18px;
  font-family: "puvi-medium";
  background: linear-gradient(105.75deg, #221769 -3.07%, #432dcf 61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 30px;
}

.resources-page-sub-title-3{
  font-size: 20px;
  font-family: "puvi-medium";
  background: linear-gradient(105.75deg, #221769 -3.07%, #432dcf 61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 30px;
}

.resources-page-sub-title-black{
  font-size: 20px;
  font-family: "puvi-medium";
  margin-top: 30px;
  color: #000000;
}

.resources-page-content {
  font-size: 16px;
  margin-top: 20px;
  color: #000000;
  text-align: justify;
}

.resources-page-sub-content{
  margin-top: 5px;
}

.resources-page-padding-content{
  padding-left: 20px;
}

.resources-page-card-box-body {
  width: 100%;
  padding: 54px 41px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
}

.resources-page-card-main-title {
  width: 100%;
  color: #000000;
  font-size: 26px;
  margin-top: 20px;
  text-align: center;
  font-family: "puvi-medium";
}

.resources-page-card-title-content {
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
  color: #000000;
  text-align: center;
}

.resources-page-card-box-sub-body {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
}

.resources-page-card-box {
  width: 200px;
  height: 230px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 20px;
  background: linear-gradient(180deg, #fefefe 0%, #e2d8f9 100%);
}

.resources-page-card-img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.resources-page-card-img img {
  width: 99%;
  height: 99%;
}

.resources-page-card-sub-title {
  font-size: 24px;
  margin-top: 50px;
  font-family: "puvi-medium";
  background: linear-gradient(105.75deg, #221769 -3.07%, #432dcf 61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resources-page-card-content {
  margin-top: 15px;
  color: #5d5858;
  font-size: 14px;
  text-align: center;
  max-width: 177px;
}

.resources-page-list-body,
.resources-page-tick-list-body {
  margin-top: 20px;
}

.resources-page-list-title,
.resources-page-tick-list-title {
  font-size: 16px;
  color: #000000;
  font-family: "puvi-semi-bold";
}

.resources-page-list-ul-body{
  padding-left: 30px;
  margin-top: 20px;
  font-size: 16px;
  color: #000000;
}



.resources-page-li-span{
  font-size: 16px;
  font-family: "puvi-medium";
}

/* Resources Page Tick List*/

.resources-page-tick-list-content-box{
  padding-left: 10px;
  margin-top: 20px;
  font-size: 16px;
  color: #000000;
  display: flex;
  gap: 5px;
  align-items: start;
  justify-content: start;
}

.resources-page-tick-list-content-img-box{
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resources-page-tick-list-content-img-box img{
  width: 12px;
  height: 12px;
  object-fit: cover;
}

.resources-page-bold-span{
  font-size: 16px;
  font-family: "puvi-medium";
}

.resources-page-padiing-span{
  padding-left: 20px;
}

.resources-page-li{
  margin-bottom: 10px;
  text-align: justify;
}


/*Resources Page Table */
.resources-page-table-body{
  /* margin-top: 20px; */
    /* border: 1px solid red; */
}

.resources-page-table{
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0 10px; 
}

.resources-page-table-thead{
    height: 55px;
    border-radius: 10px;
    background-color: #D8D5E8;
}

.resources-page-table-th{
  padding-left: 30px;
  font-size: 12px;
}

.resources-page-table-thead th:first-child {
    border-radius: 10px 0px 0px 10px;
}

.resources-page-table-thead th:last-child {
    border-radius: 0px 10px 10px 0px;
}

.resources-page-table-tr{
    background-color: white;
    border-radius: 10px;
}

.resources-page-table-td{
    height: 55px;
    font-size: 12px;
    padding-left: 30px;
}

.resources-page-table-tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.resources-page-table-tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.white-box{
  width: 100%;
  height: 200px;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
}