@font-face {
  font-family: "puvi-Medium";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Medium.ttf");
}

@font-face {
  font-family: "puvi-Regular";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Regular.ttf");
}

@font-face {
  font-family: "puvi-Light";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Light.ttf");
}

@font-face {
  font-family: "puvi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Bold.ttf");
}

@font-face {
  font-family: "puvi-Semi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Semibold.ttf");
}

* {
  margin: 0;
  padding: 0;
}



/* Main-Body */
.use-case-main-body {
  margin-top: 83px;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.use-case-box {
  min-height: 450px;
  padding-bottom: 60px;
  border-radius: 20px;
  background: #f2f1f9;
  justify-content: center;
  border: 1px solid #ffffff;
  position: relative;
  box-shadow: 0px 6px 28.2px 0px #00000040;
}

.use-case-box-2,
.use-case-box-3,
.use-case-box-4 {
  margin-top: 30px;
}

.use-case-box-2 {
  background: #e2def6;
}

.use-case-box-3 {
  background: #e5e3f3;
}

.use-case-box-4 {
  background: #d5d2e8;
}

.use-case-title-1 {
  width: 100%;
  max-width: 120px;
  /* color: #130e37; */
  color: white;
  font-size: 14px;
  margin-top: 13px;
  text-align: center;
  position: absolute;
  left: -5px;
  top: 13px;
  text-transform: uppercase;
  background: linear-gradient(105.75deg, #221769 -3.07%, #432DCF 61%);

}

.use-case-title-2 {
  font-size: 36px;
  color: #000000;
  padding-left: 70px;
  margin-top: 65px;
  font-family: "puvi-bold";
}

.use-case-sub-box {
  display: flex;
  padding: 0px 70px;
  margin-top: 36px;
  gap: 90px;
  flex-wrap: wrap;
  justify-content: start;
}



.use-case-content-box {
  width: 442px;
  height: 109px;
  display: flex;
  gap: 22px;
  align-items: center;
}

.use-case-content-img-box {
  width: 90px;
  height: 90px;
  position: relative;
}

.use-case-content-img-1-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
}

.use-case-content-img-1-box img{
  width: 40px;
  height: 40px;
}

.use-case-content-img-no-box {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 18px;
  color: #000000;
  background: #f2f1f9;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 70px;
  left: 28px;
}

.use-case-content-text {
  width: 330px;
  font-size: 20px;
  color: #5d5858;
}

@media (min-width: 480px) and (max-width: 1247px) {
  .use-case-sub-box {
    gap: 42px;
  }
}

@media (min-width: 480px) and (max-width: 610px) {
  .use-case-sub-box {
    padding: 0px 20px;
  }

  .use-case-title-2 {
    padding-left: 20px;
  }
}

@media (min-width: 360px) and (max-width: 430px) {
  .use-case-main-body {
    margin-top: 60px;
    padding-bottom: 20px;
  }

  .use-case-box {
    padding-bottom: 30px;
  }

  .use-case-title-1 {
    padding-left: 8px;
  }

  .use-case-title-2 {
    font-size: 20px;
    margin-top: 60px;
    padding-left: 20px;
  }

  .use-case-sub-box {
    display: flex;
    padding: 0px 20px;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .use-case-content-box {
    width: 300px;
    height: 90px;
    max-height: 200px;
    min-height: 80px;
    gap: 10px;
  }

  .use-case-content-img-box {
    width: 60px;
    height: 60px;
    position: relative;
  }

  .use-case-content-img-box img {
    width: 30px;
    height: 30px;
  }

  .use-case-content-img-no-box {
    width: 22px;
    height: 22px;
    font-size: 10px;
    top: 48px;
    left: 20px;
  }

  .use-case-content-text {
    width: 210px;
    font-size: 14px;
    color: #5d5858;
  }
}
